{% extends "layout.html" %}

      <meta name="viewport" content="initial-scale=1, width=device-width">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block body %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/follow.js"></script>
<script src="/static/like.js"></script>
<link rel="stylesheet" href="/static/posts.css">
<link rel="stylesheet" href="/static/profile.css">
<script src="/static/view_likes.js"></script>
<script src="/static/profile.js"></script>
<script>
    var username = '{{request.user}}';
    var csrftoken = '{{ csrf_token }}';
</script>

    <div id="like_viewer" style="margin-top: 30px;">
        <span id="close" onclick="close_likes()">&times;</span>
        <div id="viewer_body">

        </div>
    </div>
    <div>
        <center>
            {% if profile.image == "empty" or user.preference.image == False %}
                <img src="/static/favicon.ico" id="profile_image" style="border-radius: 50%; width:20%;">
            {% else %}
                <a href="/media/profile/{{user}}.{{profile.image}}" id="profile_image"><img src="/media/profile/{{user}}.{{profile.image}}" id="main_image" style="border-radius: 50%; width:30%;"></a>
            {% endif %}
        </center>
    </div>
    <div id="view_profile">
        <center>
            {% if profile.about == "" or user.preference.about == False %}
                {% if user.first_name != "" or user.last_name != "" %}
                    <h1 style="font-size: 30px !important">{{user.first_name}} {{user.last_name}}</h1>
                {% endif %}
                <h1 id="username" username="{{user}}">@{{user}}</h1>
                {% if user.id == request.user.id %}
                    <p class="not_following" id="follow">{{f_count}} followers</p>
                {% else %}
                    {% if follow_value == True %}
                        <p class="following" id="follow" value="{{follow_value}}" onclick="follow()">{{f_count}} following</p>
                    {% else %}
                        <p class="not_following" id="follow" value="{{follow_value}}" onclick="follow()">{{f_count}} followers</p>
                    {% endif %}
                {% endif %}
                <p class="about" id="main_about">No Information</p>
            {% else %}
                {% if user.first_name != "" or user.last_name != "" %}
                    <h1 style="font-size: 30px !important">{{user.first_name}} {{user.last_name}}</h1>
                {% endif %}
                <h1 id="username" username="{{user}}">@{{user}}</h1>
                {% if user.id == request.user.id %}
                    <p class="not_following" id="follow">{{f_count}} followers</p>
                {% else %}
                    {% if follow_value == True %}
                        <p class="following" id="follow" value="{{follow_value}}" onclick="follow()">{{f_count}} following</p>
                    {% else %}
                        <p class="not_following" id="follow" value="{{follow_value}}" onclick="follow()">{{f_count}} followers</p>
                    {% endif %}
                {% endif %}
                <p class="about" id="main_about">{{profile.about}}</p>
            {% endif %}
            {% if profile.gender != "Null" and user.preference.gender != False %}
                <b>Gender</b><p id="main_gender">{{profile.gender}}</p>
            {% endif %}
            {% if profile.birthday != "Null" and user.preference.birthday != False %}
                <b>BirthDay</b><p id="main_birthday">{{profile.birthday}}</p>
            {% endif %}
            {% if profile.location != "Null" and user.preference.location != False %}
                <b>📍</b><p>{{profile.location}}</p>
            {% endif %}
        </center>
        <center>
            {% if user == request.user %}
                <button type="submit" id='edit_profile_button' onclick="toggle_edit(1)" class="submit_button">Edit Profile</button>
            {% else %}
                <form action="/chat/{{user}}">
                    <button  type="submit" id='button' style="color: black; border: 0ch; margin-bottom: 2%; border-radius: 10px 10px 10px 10px;  width: 200px; height: 50px;">Message</button>
                </form>
            {% endif %}
        </center>
        {% for i in posts %}
        <div class="name_container">
            <a class="a" href="/profile/{{i.name}}" style="display: inline-flex">
                <img src="/static/favicon.ico" style="width: 50px; border-radius: 25px; margin-top: 20px; margin-left: 0px">
                <div style="margin-left: 10px; margin-top: 30px;">
                    {{i.name}}
                </div>
            </a>
        </div>
            <div class="div">

            </div>
            {% if i.media == "pic" %}
                <a href="/static/{{iid}}.jpg">
                    <img src="/static/{{i.id}}.jpg">
                </a>
            {% else %}
                {% if i.media == "video" %}
                    <video src="/static/{{i.id}}.mp4" controls loop preload="auto"></video>
                {% endif %}
            {% endif %}
            <div class="container">
                <p class="react" value="{{i.like_value}}" id="{{i.id}}" onclick="like({{i.id}})">{{i.likes}}</p>
                <a href="/comment/{{i.id}}"><p class="comment">{{i.comments}} 💬</p></a>
                <p class="v_like" onclick="view_likes({{i.id}})">📊</p>
            </div>
        {% endfor %}
    </div>

    <center>
        <div id="edit_profile" style="display:none">
            <b>Edit Profile</b><br>
            <b id="edit_profile_message"></b>
            <div onclick="toggle_edit(0)" id="cancel_edit_profile">Cancel</div>
            <div id="upload_image">
                <input type="file" id="image_file" onchange="upload_image()" accept="image/*" value="" style="display: none;">
                <div id="label_cont">
                    <label for="image_file" id="image_file_label">Upload Image &#128206;</label>
                </div>
            </div>
            <h1><b>About</b></h1>
            <div>
                <textarea id="profile_about" maxlength="500" placeholder="About">{{profile.about}}</textarea>
            </div>
            <button onclick="save_about()" class="submit_button">Save</button>
            <h1><b>Gender</b></h1>
            <div>
                <input type="radio" name="gender" value="Male" id="male">
                <label for="male">Male</label>
                <input type="radio" name="gender" value="Female" id="female">
                <label for="female">Female</label>
            </div><br>
            <div>
                <button onclick="save_gender()" class="submit_button">Save</button>
            </div>
            <h1 style="margin-bottom: 10px;"><b>Birthday</b></h1>
            <input type="date" id="profile_birthday"><br>
            <div style="margin-top: 20px;"><button onclick="save_birthday()" class="submit_button">Save</button></div>
            <h1><b>Location</b></h1>
            <center>
                <textarea id="profile_location" maxlength="200"></textarea>
            </center>
            <button onclick="save_location()" class="submit_button">Save</button>
        </div>
    </center>
{% endblock %}